In [5]:
import pandas as pd
import numpy as np

In [26]:
# 3분 소요
df_1 = pd.read_excel('./data/online_retail_II.xlsx', sheet_name="Year 2009-2010")
df_2 = pd.read_excel('./data/online_retail_II.xlsx', sheet_name="Year 2010-2011")

df = pd.concat([df_1, df_2])

In [27]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [28]:
# Rename columns
df.columns = [
    "invoice",
    "stock_code",
    "description",
    "quantity",
    "invoice_date",
    "price",
    "customer_id",
    "country",
]

df_uk = df[df["country"] == "United Kingdom"]

# add revenue variable
df_uk["revenue"] = df_uk["quantity"] * df_uk["price"]

C:\Users\21ckw\AppData\Local\Temp/ipykernel_18800/385426488.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk["revenue"] = df_uk["quantity"] * df_uk["price"]

In [29]:
df_uk['is_cancelled'] = df_uk['invoice'].apply(lambda x : str(x)[0]=='C')

C:\Users\21ckw\AppData\Local\Temp/ipykernel_18800/2333519689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk['is_cancelled'] = df_uk['invoice'].apply(lambda x : str(x)[0]=='C')

In [30]:
df_uk['invoice_date'] = pd.to_datetime(df_uk['invoice_date'])

C:\Users\21ckw\AppData\Local\Temp/ipykernel_18800/4047489655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk['invoice_date'] = pd.to_datetime(df_uk['invoice_date'])

In [31]:
df_uk1 = df_uk[df_uk['is_cancelled']==0][["invoice_date", "quantity", "revenue"]].resample('D',on='invoice_date').mean()
df_uk1.head()

               quantity    revenue
invoice_date
2009-12-01     7.453558  16.765205
2009-12-02     8.007798  17.484464
2009-12-03    16.176471  25.220194
2009-12-04     8.101031  15.718330
2009-12-05    12.529730  24.438811

In [32]:
df_uk1.to_csv('./data/online_retail_uk.csv')