In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df_apple = pd.DataFrame()
date_range = pd.date_range(start="2022-11",end="2023-02-28",freq='D')
date_range

DatetimeIndex(['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
               '2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08',
               '2022-11-09', '2022-11-10',
               ...
               '2023-02-19', '2023-02-20', '2023-02-21', '2023-02-22',
               '2023-02-23', '2023-02-24', '2023-02-25', '2023-02-26',
               '2023-02-27', '2023-02-28'],
              dtype='datetime64[ns]', length=120, freq='D')

In [9]:
rand_quantity = np.random.randint(low=100,high=500,size=len(date_range))
rand_quantity

array([479, 478, 298, 300, 271, 362, 291, 277, 339, 311, 403, 443, 283,
       365, 321, 263, 413, 102, 449, 215, 281, 496, 485, 256, 272, 101,
       406, 149, 465, 173, 386, 451, 343, 497, 327, 385, 302, 310, 338,
       482, 152, 228, 473, 110, 495, 164, 181, 324, 445, 456, 372, 299,
       447, 123, 221, 229, 211, 471, 104, 234, 170, 477, 278, 406, 295,
       148, 219, 240, 449, 162, 130, 342, 430, 245, 245, 421, 255, 229,
       270, 385, 382, 175, 324, 374, 353, 368, 471, 163, 296, 341, 306,
       250, 133, 441, 340, 142, 454, 233, 145, 481, 244, 146, 437, 269,
       194, 488, 368, 293, 105, 287, 275, 314, 464, 204, 332, 252, 362,
       443, 335, 189])

In [7]:
fruits = ['apple', 'grape', 'strawberry']
quality = ['A','B','C']

In [12]:
df_all = pd.DataFrame()
for f in fruits:
    for q in quality:
        df_fruit = pd.DataFrame(index=date_range)
        # 과일이름
        df_fruit['Name'] = f
        # 수확량
        rand_quantity = np.random.randint(low=100,high=500,size=len(date_range))
        df_fruit['Quantity'] = rand_quantity
        # 등급
        df_fruit['Quality'] = q 
        
        df_all = pd.concat([df_all,df_fruit],axis=0)

In [13]:
df_all

                  Name  Quantity Quality
2022-11-01       apple       474       A
2022-11-02       apple       219       A
2022-11-03       apple       460       A
2022-11-04       apple       143       A
2022-11-05       apple       161       A
...                ...       ...     ...
2023-02-24  strawberry       208       C
2023-02-25  strawberry       425       C
2023-02-26  strawberry       327       C
2023-02-27  strawberry       478       C
2023-02-28  strawberry       118       C

[1080 rows x 3 columns]

In [15]:
fruits = ['apple', 'grape', 'strawberry']
quality_list = ['A','B','C']
for fruit in fruits:
    for quality in quality_list:
        df_one = df_all[(df_all['Name']==fruit) & (df_all['Quality']==quality)]
        df_one = df_one[df_one['Quantity']>480]
        df_one = df_one.resample('M').mean()
        display(df_one)

            Quantity
2022-11-30     489.0
2022-12-31       NaN
2023-01-31     487.0
2023-02-28     483.0

            Quantity
2022-11-30     495.0
2022-12-31     492.0
2023-01-31     490.0

            Quantity
2022-11-30     488.0

            Quantity
2022-11-30     490.0
2022-12-31     487.0
2023-01-31     492.5

              Quantity
2022-11-30  491.666667
2022-12-31  490.000000
2023-01-31         NaN
2023-02-28  491.000000

            Quantity
2022-11-30     491.5
2022-12-31       NaN
2023-01-31       NaN
2023-02-28     483.0

              Quantity
2022-11-30  491.333333
2022-12-31  498.000000
2023-01-31  492.000000
2023-02-28  481.000000

            Quantity
2022-11-30     498.0
2022-12-31     487.5
2023-01-31     486.0
2023-02-28     496.5

            Quantity
2022-11-30     494.5
2022-12-31       NaN
2023-01-31       NaN
2023-02-28     485.0