# Holiday feature
1. holiday - 진짜 공휴일
2. observance date<br>
* 공휴일이 주말이어서 가까운 영업일(대체공휴일)<br>
* 정해진 주, 요일 ex.세번째 목요일

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
df_uk = pd.read_csv('./data/online_retail_uk.csv',parse_dates=['invoice_date'],index_col=0)
df_uk

               quantity     revenue
invoice_date
2009-12-01     7.453558   16.765205
2009-12-02     8.007798   17.484464
2009-12-03    16.176471   25.220194
2009-12-04     8.101031   15.718330
2009-12-05    12.529730   24.438811
...                 ...         ...
2011-12-05     8.208036   16.506276
2011-12-06     9.228254   17.213398
2011-12-07    14.087996   28.147721
2011-12-08     6.970632   16.717296
2011-12-09    62.674048  135.732941

[739 rows x 2 columns]

In [63]:
df_uk.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 739 entries, 2009-12-01 to 2011-12-09
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   quantity  604 non-null    float64
 1   revenue   604 non-null    float64
dtypes: float64(2)
memory usage: 17.3 KB

# 직접 지정

In [64]:
import datetime
# 4째주 목요일(Thanksgiving) 다음날
blackfriday= [datetime.datetime(2010,11,26),
              datetime.datetime(2011,11,25), 
              datetime.datetime(2012,11,23)]

In [65]:
blackfriday

[datetime.datetime(2010, 11, 26, 0, 0),
 datetime.datetime(2011, 11, 25, 0, 0),
 datetime.datetime(2012, 11, 23, 0, 0)]

In [66]:
df_uk['holiday_direct'] = np.where(df_uk.index.isin(blackfriday),1,0)
df_uk

               quantity     revenue  holiday_direct
invoice_date
2009-12-01     7.453558   16.765205               0
2009-12-02     8.007798   17.484464               0
2009-12-03    16.176471   25.220194               0
2009-12-04     8.101031   15.718330               0
2009-12-05    12.529730   24.438811               0
...                 ...         ...             ...
2011-12-05     8.208036   16.506276               0
2011-12-06     9.228254   17.213398               0
2011-12-07    14.087996   28.147721               0
2011-12-08     6.970632   16.717296               0
2011-12-09    62.674048  135.732941               0

[739 rows x 3 columns]

In [67]:
df_uk[df_uk['holiday_direct']==1]

              quantity    revenue  holiday_direct
invoice_date
2010-11-26    6.140618  14.566261               1
2011-11-25    9.975766  15.862211               1

# holiday 모듈

In [68]:
# pip install holidays

In [69]:
import holidays
for date,name in holidays.UnitedStates().items():
    print(date,name)

In [70]:
# dictionary 형태 : key 값에 날짜
us_holidays = holidays.US(years=[2010,2011,2012])
us_holidays

{datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 12, 31): "New Year's Day (Observed)", datetime.date(2010, 1, 18): 'Martin Luther King Jr. Day', datetime.date(2010, 2, 15): "Washington's Birthday", datetime.date(2010, 5, 31): 'Memorial Day', datetime.date(2010, 7, 4): 'Independence Day', datetime.date(2010, 7, 5): 'Independence Day (Observed)', datetime.date(2010, 9, 6): 'Labor Day', datetime.date(2010, 10, 11): 'Columbus Day', datetime.date(2010, 11, 11): 'Veterans Day', datetime.date(2010, 11, 25): 'Thanksgiving', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 24): 'Christmas Day (Observed)', datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 1, 17): 'Martin Luther King Jr. Day', datetime.date(2011, 2, 21): "Washington's Birthday", datetime.date(2011, 5, 30): 'Memorial Day', datetime.date(2011, 7, 4): 'Independence Day', datetime.date(2011, 9, 5): 'Labor Day', datetime.date(2011, 10, 10): 'Columbus Day', datetime.date(2011, 11, 11): 'Veterans Day', datetime.date(2011, 11, 24): 'Thanksgiving', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 26): 'Christmas Day (Observed)', datetime.date(2012, 1, 1): "New Year's Day", datetime.date(2012, 1, 2): "New Year's Day (Observed)", datetime.date(2012, 1, 16): 'Martin Luther King Jr. Day', datetime.date(2012, 2, 20): "Washington's Birthday", datetime.date(2012, 5, 28): 'Memorial Day', datetime.date(2012, 7, 4): 'Independence Day', datetime.date(2012, 9, 3): 'Labor Day', datetime.date(2012, 10, 8): 'Columbus Day', datetime.date(2012, 11, 11): 'Veterans Day', datetime.date(2012, 11, 12): 'Veterans Day (Observed)', datetime.date(2012, 11, 22): 'Thanksgiving', datetime.date(2012, 12, 25): 'Christmas Day'}

In [71]:
for date,holiday in us_holidays.items():
    print(date,' ',holiday)

2010-01-01   New Year's Day
2010-12-31   New Year's Day (Observed)
2010-01-18   Martin Luther King Jr. Day
2010-02-15   Washington's Birthday
2010-05-31   Memorial Day
2010-07-04   Independence Day
2010-07-05   Independence Day (Observed)
2010-09-06   Labor Day
2010-10-11   Columbus Day
2010-11-11   Veterans Day
2010-11-25   Thanksgiving
2010-12-25   Christmas Day
2010-12-24   Christmas Day (Observed)
2011-01-01   New Year's Day
2011-01-17   Martin Luther King Jr. Day
2011-02-21   Washington's Birthday
2011-05-30   Memorial Day
2011-07-04   Independence Day
2011-09-05   Labor Day
2011-10-10   Columbus Day
2011-11-11   Veterans Day
2011-11-24   Thanksgiving
2011-12-25   Christmas Day
2011-12-26   Christmas Day (Observed)
2012-01-01   New Year's Day
2012-01-02   New Year's Day (Observed)
2012-01-16   Martin Luther King Jr. Day
2012-02-20   Washington's Birthday
2012-05-28   Memorial Day
2012-07-04   Independence Day
2012-09-03   Labor Day
2012-10-08   Columbus Day
2012-11-11   Veterans Day
2012-11-12   Veterans Day (Observed)
2012-11-22   Thanksgiving
2012-12-25   Christmas Day

In [72]:
df_uk['holiday_module'] = np.where(df_uk.index.isin(us_holidays.keys()),1,0)
df_uk[df_uk['holiday_module']==1]

               quantity    revenue  holiday_direct  holiday_module
invoice_date
2010-01-01          NaN        NaN               0               1
2010-01-18     5.367095  11.046522               0               1
2010-02-15    16.528996  29.971953               0               1
2010-05-31          NaN        NaN               0               1
2010-07-04     7.871870  15.454580               0               1
2010-07-05     8.494834  17.209719               0               1
2010-09-06     5.302870  14.756843               0               1
2010-10-11     8.816742  15.942335               0               1
2010-11-11    10.812623  19.826815               0               1
2010-11-25    10.953693  20.648535               0               1
2010-12-24          NaN        NaN               0               1
2010-12-25          NaN        NaN               0               1
2010-12-31          NaN        NaN               0               1
2011-01-01          NaN        NaN               0               1
2011-01-17     5.001660  10.887743               0               1
2011-02-21     6.542100  12.417919               0               1
2011-05-30          NaN        NaN               0               1
2011-07-04     6.158567  18.381556               0               1
2011-09-05    12.257812  18.397713               0               1
2011-10-10     7.869966  14.476638               0               1
2011-11-11     6.488531  12.709205               0               1
2011-11-24     6.355717  12.803584               0               1

# Pandas.tseries.holiday
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html?highlight=holiday

In [77]:
from pandas.tseries.holiday import (AbstractHolidayCalendar,
                                    GoodFriday,
                                    EasterMonday,
                                    Holiday,
                                   nearest_workday,
                                    previous_friday,
                                    next_monday
                               )
from dateutil.relativedelta import MO,TU,WE,TH,FR,SA,SU

In [76]:
# Holidays and calendars provide a simple way to define holiday rules to be used with CustomBusinessDay or 
# in other analysis that requires a predefined set of holidays. The AbstractHolidayCalendar class provides 
# all the necessary methods to return a list of holidays and only rules need to be defined in a specific holiday calendar class. 
# Furthermore, the start_date and end_date class attributes determine over what date range holidays are generated.
# These should be overwritten on the AbstractHolidayCalendar class to have the range apply to all calendar subclasses. 
# USFederalHolidayCalendar is the only calendar that exists and primarily serves as an example for developing other calendars.

* nearest_workday ==> move Saturday to Friday and Sunday to Monday
* sunday_to_monday ==> move Sunday to following Monday
* next_monday_or_tuesday ==> move Saturday to Monday and Sunday/Monday to Tuesday
* previous_friday ==> move Saturday and Sunday to previous Friday
* next_monday ==> move Saturday and Sunday to following Monday

In [79]:
class container_holiday(AbstractHolidayCalendar):
    rules=[
        GoodFriday,
        EasterMonday,
        Holiday("New Year's Day", month=1, day=1),
        Holiday('black friday',month=11,day=1,
           offset=pd.DateOffset(weekday=FR(3))),
        Holiday("Kim's birthday", month=3,
                day=15, observance=nearest_workday)
               ]

In [87]:
calender = container_holiday()
holidays = calender.holidays(datetime.datetime(2009,1,1),datetime.datetime(2011,12,30))
holidays

DatetimeIndex(['2009-01-01', '2009-03-16', '2009-04-10', '2009-04-13',
               '2009-11-20', '2010-01-01', '2010-03-15', '2010-04-02',
               '2010-04-05', '2010-11-19', '2011-01-01', '2011-03-15',
               '2011-04-22', '2011-04-25', '2011-11-18'],
              dtype='datetime64[ns]', freq=None)

In [88]:
df_uk['holiday_pandas'] = np.where(df_uk.index.isin(holidays),1,0)
df_uk[df_uk['holiday_pandas']==1]

,quantity,revenue,holiday_direct,holiday_module,holiday_pandas
invoice_date,,,,,
2010-01-01,NaN,NaN,0,1,1
2010-03-15,8.645833,15.999206,0,0,1
2010-04-02,NaN,NaN,0,0,1
2010-04-05,NaN,NaN,0,0,1
2010-11-19,9.132755,17.080858,0,0,1
2011-01-01,NaN,NaN,0,1,1
2011-03-15,6.390925,14.517286,0,0,1
2011-04-22,NaN,NaN,0,0,1
2011-04-25,NaN,NaN,0,0,1
2011-11-18,8.269044,17.580656,0,0,1

In [37]:
from pandas.tseries.holiday import USFederalHolidayCalendar

cal = USFederalHolidayCalendar()
cal.rules

[Holiday: New Year's Day (month=1, day=1, observance=<function nearest_workday at 0x00000211F7691430>),
 Holiday: Birthday of Martin Luther King, Jr. (month=1, day=1, offset=<DateOffset: weekday=MO(+3)>),
 Holiday: Washington’s Birthday (month=2, day=1, offset=<DateOffset: weekday=MO(+3)>),
 Holiday: Memorial Day (month=5, day=31, offset=<DateOffset: weekday=MO(-1)>),
 Holiday: Juneteenth National Independence Day (month=6, day=19, observance=<function nearest_workday at 0x00000211F7691430>),
 Holiday: Independence Day (month=7, day=4, observance=<function nearest_workday at 0x00000211F7691430>),
 Holiday: Labor Day (month=9, day=1, offset=<DateOffset: weekday=MO(+1)>),
 Holiday: Columbus Day (month=10, day=1, offset=<DateOffset: weekday=MO(+2)>),
 Holiday: Veterans Day (month=11, day=11, observance=<function nearest_workday at 0x00000211F7691430>),
 Holiday: Thanksgiving Day (month=11, day=1, offset=<DateOffset: weekday=TH(+4)>),
 Holiday: Christmas Day (month=12, day=25, observance=<function nearest_workday at 0x00000211F7691430>)]