In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
# df = pd.read_csv('./data/auto-mpg.data',header=None,delim_whitespace=True)
# df

In [ ]:
# 7. Attribute Information:     

#      Attribute:                Attribute Range:

#   1. symboling:                -3, -2, -1, 0, 1, 2, 3.

#   3. make:                     alfa-romero, audi, bmw, chevrolet, dodge, honda,

#                                isuzu, jaguar, mazda, mercedes-benz, mercury,

#                                mitsubishi, nissan, peugot, plymouth, porsche,

#                                renault, saab, subaru, toyota, volkswagen, volvo

#   4. fuel-type:                diesel, gas.

#   5. aspiration:               std, turbo.

#   6. num-of-doors:             four, two.

#   7. body-style:               hardtop, wagon, sedan, hatchback, convertible.

#   8. drive-wheels:             4wd, fwd, rwd.

#   9. engine-location:          front, rear.

#  15. engine-type:              dohc, dohcv, l, ohc, ohcf, ohcv, rotor.

#  16. num-of-cylinders:         eight, five, four, six, three, twelve, two.

#  18. fuel-system:              1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.

In [ ]:
#   2. normalized-losses:        continuous from 65 to 256.

#  10. wheel-base:               continuous from 86.6 120.9.

#  11. length:                   continuous from 141.1 to 208.1.

#  12. width:                    continuous from 60.3 to 72.3.

#  13. height:                   continuous from 47.8 to 59.8.

#  14. curb-weight:              continuous from 1488 to 4066.

#  17. engine-size:              continuous from 61 to 326.

#  19. bore:                     continuous from 2.54 to 3.94.

#  20. stroke:                   continuous from 2.07 to 4.17.

#  21. compression-ratio:        continuous from 7 to 23.

#  22. horsepower:               continuous from 48 to 288.

#  23. peak-rpm:                 continuous from 4150 to 6600.

#  24. city-mpg:                 continuous from 13 to 49.

#  25. highway-mpg:              continuous from 16 to 54.

#  26. price:                    continuous from 5118 to 45400.

# Data 탐색

In [82]:
df = sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [83]:
# 데이터 타입 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

## Nan 값

In [84]:
# Nan값 확인
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

## category feature

In [85]:
df.select_dtypes(include='category')

             cut color clarity
0          Ideal     E     SI2
1        Premium     E     SI1
2           Good     E     VS1
3        Premium     I     VS2
4           Good     J     SI2
...          ...   ...     ...
53935      Ideal     D     SI1
53936       Good     D     SI1
53937  Very Good     D     SI1
53938    Premium     H     SI2
53939      Ideal     D     SI2

[53940 rows x 3 columns]

In [86]:
df.select_dtypes(include='category').nunique()

cut        5
color      7
clarity    8
dtype: int64

## numeric feature

In [87]:
df.select_dtypes(exclude='category')

       carat  depth  table  price     x     y     z
0       0.23   61.5   55.0    326  3.95  3.98  2.43
1       0.21   59.8   61.0    326  3.89  3.84  2.31
2       0.23   56.9   65.0    327  4.05  4.07  2.31
3       0.29   62.4   58.0    334  4.20  4.23  2.63
4       0.31   63.3   58.0    335  4.34  4.35  2.75
...      ...    ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 7 columns]

In [88]:
df.select_dtypes(exclude='category').columns.to_list()

['carat', 'depth', 'table', 'price', 'x', 'y', 'z']

In [89]:
## series -> to_list()
np.array([1,2,3]).tolist()

[1, 2, 3]

# Pipeline

In [90]:
# https://wikidocs.net/83943

# 'mean': 평균값 (디폴트)
# 'median': 중앙값
# 'most_frequent': 최빈값
# 'constant': 특정값, 예 SimpleImputer(strategy='constant', fill_value=1)

# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

## numerical

In [91]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

numeric_col = list(df.select_dtypes(exclude='category').columns)
numeric_col

num_imputer = SimpleImputer(strategy='mean')
scaler = StandardScaler()

numeric_pipeline = Pipeline(
    steps=[
        ('imputer', num_imputer),
        ('scaler', scaler)
    ])

In [180]:
numeric_pipeline.fit(df.select_dtypes(exclude='category'))

Pipeline(steps=[('imputer', SimpleImputer()), ('scaler', StandardScaler())])

In [92]:
num_data_piped = numeric_pipeline.fit_transform(df.select_dtypes(exclude='category'))
pd.DataFrame(num_data_piped, columns=numeric_col)

          carat     depth     table     price         x         y         z
0     -1.198168 -0.174092 -1.099672 -0.904095 -1.587837 -1.536196 -1.571129
1     -1.240361 -1.360738  1.585529 -0.904095 -1.641325 -1.658774 -1.741175
2     -1.198168 -3.385019  3.375663 -0.903844 -1.498691 -1.457395 -1.741175
3     -1.071587  0.454133  0.242928 -0.902090 -1.364971 -1.317305 -1.287720
4     -1.029394  1.082358  0.242928 -0.901839 -1.240167 -1.212238 -1.117674
...         ...       ...       ...       ...       ...       ...       ...
53935 -0.164427 -0.662711 -0.204605 -0.294731  0.016798  0.022304 -0.054888
53936 -0.164427  0.942753 -1.099672 -0.294731 -0.036690  0.013548  0.100988
53937 -0.206621  0.733344  1.137995 -0.294731 -0.063434 -0.047741  0.030135
53938  0.130927 -0.523105  0.242928 -0.294731  0.373383  0.337506  0.285204
53939 -0.101137  0.314528 -1.099672 -0.294731  0.088115  0.118616  0.143499

[53940 rows x 7 columns]

## categorical

In [93]:
df.select_dtypes(include='category')

             cut color clarity
0          Ideal     E     SI2
1        Premium     E     SI1
2           Good     E     VS1
3        Premium     I     VS2
4           Good     J     SI2
...          ...   ...     ...
53935      Ideal     D     SI1
53936       Good     D     SI1
53937  Very Good     D     SI1
53938    Premium     H     SI2
53939      Ideal     D     SI2

[53940 rows x 3 columns]

In [136]:
pd.factorize(df['cut'])[0]

array([0, 1, 2, ..., 3, 1, 0], dtype=int64)

In [133]:
pd.get_dummies(df.select_dtypes(include='category'))

,cut_Ideal,cut_Premium,cut_Very Good,cut_Good,cut_Fair,color_D,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
53936,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
53937,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
53938,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
53939,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0

### onehotencoder

In [151]:
ohe = OneHotEncoder(sparse=False)
# ohe = OneHotEncoder(sparse=True)
print(ohe.fit_transform(df.select_dtypes(include='category')))

[[0. 0. 1. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]]

In [142]:
ohe.categories_

[array(['Fair', 'Good', 'Ideal', 'Premium', 'Very Good'], dtype=object),
 array(['D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype=object),
 array(['I1', 'IF', 'SI1', 'SI2', 'VS1', 'VS2', 'VVS1', 'VVS2'],
       dtype=object)]

In [152]:
category_col = list(df.select_dtypes(include='category').columns)
ohe.get_feature_names_out(category_col)

array(['cut_Fair', 'cut_Good', 'cut_Ideal', 'cut_Premium',
       'cut_Very Good', 'color_D', 'color_E', 'color_F', 'color_G',
       'color_H', 'color_I', 'color_J', 'clarity_I1', 'clarity_IF',
       'clarity_SI1', 'clarity_SI2', 'clarity_VS1', 'clarity_VS2',
       'clarity_VVS1', 'clarity_VVS2'], dtype=object)

In [156]:
ohe = OneHotEncoder(sparse=False)
category_data_piped = ohe.fit_transform(df.select_dtypes(include='category'))

# 파이프라인 적용이후 컬럼 이름
category_col = list(df.select_dtypes(include='category').columns)
category_col_piped = ohe.get_feature_names_out(category_col)

# 파이프라인 이후 데이터
pd.DataFrame(category_data_piped, columns=category_col_piped)

,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,color_H,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53936,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53937,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53938,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
53939,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

### ordinary encoder

In [104]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
encoder.fit_transform(df.select_dtypes(include='category'))[:,0]

array([2., 3., 1., ..., 4., 3., 2.])

### category pipeline

In [161]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# category_col
category_imputer = SimpleImputer(strategy='constant', fill_value='missing')

# Onehotencoder
onehot_encoder = OneHotEncoder(sparse=False)

# 파이프라인 구축
category_pipeline = Pipeline(
    steps=[
        ('imputer', category_imputer),
        ('onehot', onehot_encoder),
    ])

In [174]:
category_data_piped = category_pipeline.fit_transform(df.select_dtypes(include='category'))

# 파이프라인 적용이후 컬럼 이름
category_col = list(df.select_dtypes(include='category').columns)
category_col_piped = category_pipeline[1].get_feature_names_out(category_col)

# 파이프라인 이후 데이터
pd.DataFrame(category_data_piped, columns=category_col_piped)

,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,color_H,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53936,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53937,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53938,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
53939,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [173]:
# 컬럼
category_pipeline[1].get_feature_names_out(category_col)

array(['cut_Fair', 'cut_Good', 'cut_Ideal', 'cut_Premium',
       'cut_Very Good', 'color_D', 'color_E', 'color_F', 'color_G',
       'color_H', 'color_I', 'color_J', 'clarity_I1', 'clarity_IF',
       'clarity_SI1', 'clarity_SI2', 'clarity_VS1', 'clarity_VS2',
       'clarity_VVS1', 'clarity_VVS2'], dtype=object)

In [54]:
from sklearn.compose import ColumnTransformer

process = ColumnTransformer(
    transformers=[
        ('numeric',)
    ])

# columntransformer

In [177]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

numeric_col = list(df.select_dtypes(exclude='category').columns)

num_imputer = SimpleImputer(strategy='mean')
scaler = StandardScaler()

numeric_pipeline = Pipeline(
    steps=[
        ('imputer', num_imputer),
        ('scaler', scaler)
    ])

category_col = list(df.select_dtypes(include='category').columns)

# category_col
category_imputer = SimpleImputer(strategy='constant', fill_value='Nan')

# Onehotencoder
onehot_encoder = OneHotEncoder()

# 파이프라인 구축
category_pipeline = Pipeline(
    steps=[
        ('imputer', category_imputer ),
        ('onehot', onehot_encoder),
    ])

# numeric & category 파이프라인 합치기
preprocess = ColumnTransformer(
    transformers=[
        ('numeric', numeric_pipeline, numeric_col),
        ('category', category_pipeline, category_col)
    ])

In [179]:
preprocess.fit(df)

ColumnTransformer(transformers=[('numeric',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('scaler', StandardScaler())]),
                                 ['carat', 'depth', 'table', 'price', 'x', 'y',
                                  'z']),
                                ('category',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(fill_value='Nan',
                                                                strategy='constant')),
                                                 ('onehot', OneHotEncoder())]),
                                 ['cut', 'color', 'clarity'])])

In [178]:
preprocess.fit_transform(df)

array([[-1.19816781, -0.17409151, -1.09967199, ...,  0.        ,
         0.        ,  0.        ],
       [-1.24036129, -1.36073849,  1.58552871, ...,  0.        ,
         0.        ,  0.        ],
       [-1.19816781, -3.38501862,  3.37566251, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.20662095,  0.73334442,  1.13799526, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.13092691, -0.52310533,  0.24292836, ...,  0.        ,
         0.        ,  0.        ],
       [-0.10113725,  0.31452784, -1.09967199, ...,  0.        ,
         0.        ,  0.        ]])

In [128]:
preprocess.get_feature_names_out

<bound method ColumnTransformer.get_feature_names_out of ColumnTransformer(transformers=[('numeric',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('scaler', StandardScaler())]),
                                 ['carat', 'depth', 'table', 'price', 'x', 'y',
                                  'z']),
                                ('category',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(fill_value='Nan',
                                                                strategy='constant')),
                                                 ('onehot', OneHotEncoder())]),
                                 ['cut', 'color', 'clarity'])])>

In [119]:
preprocessed_df = pd.DataFrame(preprocess.fit_transform(df),columns=preprocess.get_feature_names_out())

AttributeError: Estimator imputer does not provide get_feature_names_out. Did you mean to call pipeline[:-1].get_feature_names_out()?

In [ ]:
numeric_features = list(feature_columns_names)
numeric_features.remove("sex")

numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")), ("scaler", StandardScaler())]
)

categorical_features = ["sex"]
categorical_transformer = Pipeline(
    steps=[
        ("imputer", SimpleImputer(strategy="constant", fill_value="missing")),
        ("onehot", OneHotEncoder(handle_unknown="ignore")),
    ]
)

preprocess = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)